* {
    font-family: "roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 0px 180px 100px 180px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 18px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    flex-direction: row;
}

.hero-text {
    color: white;
    width: 45%;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 180px 100px 180px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.sign-up {
    padding: 100px 180px;
}

.blue-box {
    background-color: #3882F6;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
}

.blue-box button {
    border: solid white;
    padding: 10px 30px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}